{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'admin/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'admin/vendors/ti-icons/css/themify-icons.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
  <!-- endinject -->
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'admin-index' %}"><img src="{% static 'logo.png' %}" class="mr-2" alt="ADMIN"/></a>
        <!--<a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="ADMIN"/></a>-->
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <form action="{% url 'admin-search' %}" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" id="navbar-search-input" name="search" placeholder="Поиск по идентификационному номеру" aria-label="search" aria-describedby="search" required>
                    <div class="input-group-prepend hover-cursor" id="navbar-search-icon">                   
                        <button type="submit" class="search-btn btn-submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>   
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          {% if request.user.is_staff %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="ti-settings mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <a class="dropdown-item preview-item" href="{% url 'category-create' %}">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="ti-plus mx-0"></i>                      
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Категории</h6>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{% url 'responsible-create' %}">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="ti-plus mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Ответственные</h6>
                </div>
              </a>
              <a class="dropdown-item preview-item" href="{% url 'model-create' %}">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="ti-plus mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Модели</h6>
                </div>
              </a>              
            </div>
          </li>
          {% endif %}
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="{% static '/admin/images/faces/face28.jpg' %}" alt="profile"/>
            </a>
            
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
             
              <a class="dropdown-item" href="{% url 'admin-index' %}">
                <i class="ti-home text-primary"></i>
                Главная
              </a>
              <form class="dropdown-item"action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <i class="ti-power-off text-primary"></i>
                <button type="submit" style = "background:none; border:none">Выйти</button>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Главная</span>
              </a>
            </li>
        </ul>
      </nav>
       <!-- partial -->
       <div class="main-panel">
        <div class="content-wrapper">

            <div class="row">
                <div class="col-md-12 grid-margin">
                  <div class="row">
                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                      <h3 class="font-weight-bold"> Добро пожаловать!</h3>
                    </div>
                  </div>
                </div>
              </div>
          {% for m in queryset %}
          {% if forloop.first %}
          
          <div class="row">
            {% endif %}
            <div class="col-md-2 grid-margin stretch-card">
              <a href="{% url 'base-view' pk=m.id %}">

                <div class="card-people mt-auto">
                  <img src="{{ m.image.url }}" alt="{{ m.description }}" class="product-image" style="width:auto; height:220px;">
                  <div class="item-info ">
                    <div class="d-flex">   
                      <div class="">
                        <h4 class="location font-weight-normal">{{ m.name }}</h4>
                        <h6 class="font-weight-normal">Всего:{{ m.count }}</h6>
                      </div>
                    </div>
                  </div>
                </a>
                
                  
              </div>
            </div>
            
            {% if forloop.counter|divisibleby:4 %}
          </div>
          
          <div class="row">
            {% endif %}
            {% if forloop.last %}
          </div>    
            {% endif %}
            {% endfor %}
        </div>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  
  <!-- inject:js -->
  <script src="{% static 'admin/js/template.js' %}"></script>
  <script src="{% static 'admin/js/settings.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>

